__pycache__/*
.vscode/*
core/__pycache__/*
core/api_actions/__pycache__/*
core/handlers/__pycache__/*
core/handlers/changers/__pycache__/*
core/handlers/users/__pycache__/*
core/keyboards/__pycache__/*
core/middlwares/__pycache__/*
core/utils/__pycache__/*
Dockerfile
.env
eee.py
