[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
sqlalchemy = "*"
aiogram = "*"
environs = "*"
httpx = "*"
apscheduler = "==3.10.1"

[dev-packages]

[requires]
python_version = "3.10"

[pipenv]
allow_prereleases = true
